<div class="jumbotron">  
  <p><small>Top Score: {{topScore}}</small></p>
  <small>Timer</small>
  <timer interval="500"><div class="progress progress-striped active"> <div class="bar" style="width: {{seconds}}%;"></div> </div></timer>
  <h1>{{equation.string}}?</h1>
  <p>
    <button class="btn btn-lg btn-success" ng-disabled="gameOver" ng-click="validate(true)"><span class="glyphicon glyphicon-ok"></span></button>
    <button class="btn btn-lg btn-danger" ng-disabled="gameOver" ng-click="validate(false)"><span class="glyphicon glyphicon-remove"></span></button>
  </p>
  <small>Score: {{player.score}}</small>
  
  <p ng-show="gameOver">
    <button class="btn btn-lg btn-success" ng-click="reset()">Play again?</button>
  </p>
</div>
