<div class="jumbotron">  
  <small>Timer</small>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{timer}}" aria-valuemin="0" aria-valuemax="100" style="width: {{timer}}%;"></div>
  </div>
  <h1>{{equation.string}}?</h1>
  <p>
    <button class="btn btn-lg btn-success" ng-disabled="!gameOn" ng-click="validate(true)"><span class="glyphicon glyphicon-ok"></span></button>
    <button class="btn btn-lg btn-danger" ng-disabled="!gameOn" ng-click="validate(false)"><span class="glyphicon glyphicon-remove"></span></button>
  </p>
  <small>Score: {{player.score}}</small>
</div>
