<div class="jumbotron">
  <h2>Choose Difficulty</h2>
  <p class="lead">
    <div class="btn-group">        
        <label class="btn-sm btn-primary" ng-model="difficulty" btn-radio="'Easy'">Easy</label>
        <label class="btn-sm btn-primary" ng-model="difficulty" btn-radio="'Medium'">Medium</label>
        <label class="btn-sm btn-primary" ng-model="difficulty" btn-radio="'Hard'">Hard</label>
    </div>
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="startGame()">Go! <span class="glyphicon glyphicon-play"></span></a></p>
</div>
